<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header.html :: header('Home')"></head>
<body>

<th:block th:replace="fragments/navbar.html :: mainNav"></th:block>

<div class="container">
    <h1>Hello!, <span th:text="${name}"></span> Welcome to Taquero Mucho</h1>
    <h3>List of Instructors</h3>
    <ul>
        <li th:each="name : ${names}" th:text="${name}"></li>
    </ul>
</div>

<th:block th:replace="fragments/footer.html :: footer"></th:block>
<th:block th:replace="fragments/scripts.html :: scripts"></th:block>

</body>
</html>